---
---
.tarifs{tbody tr {
   		th,td{
		       vertical-align: middle;
		       text-align:center;
		      }
       	th p{
       		margin-bottom: 0px;
       		font-size: 18px;
       	}
       	td p{
       		margin-bottom: 0px;
       	}

		     
		}
	}

.darkness{background-color: #2e3841;}
