---
---

table.tarifs{
	tbody tr {
   		th,td{
		       vertical-align: middle;
		       text-align:center;
		      }
       	th p{
       		margin-bottom: 0px;
       		font-size: 18px;
       	}
       	td p{
       		margin-bottom: 0px;
       	}
		     
	}
}

.darkness{ background-color: #2e3841; }

.vk-img-frame img {
    width: 100%;
    height: auto;
}

.realisations{
	margin-bottom: 60px;
	.vk-img-frame {
		width: 100%;
		padding-top: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0 !important;
		img{
			position: absolute;
			visibility: hidden;
			opacity: 0;
		}
	}
}

.reservation{
	.vk-contact-form {
		p.error{
			display: none;
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		.status__failure,
		.status__success{
			padding-top: 20px;
		}
	}
}


