<!-- header-container start -->
      <div class="header-container">
        
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top  colored">
          <div class="container">
            <div class="row">
              <div class="col-xs-2 col-sm-5">
                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-xs">
                   
                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation">
                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                       
                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-xs-10 col-sm-7">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix text-right">
                  <ul class="list-inline">
                  <li><i class="fa fa-map-marker pr-5 pl-10"></i>{{ site.adresse }}</li>
                    <li><i class="fa fa-phone pr-5 pl-10"></i>{{site.tel}}</li>
                    <li><i class="fa fa-envelope-o pr-5 pl-10"></i> {{site.email}}</li>
                  </ul>
                </div>
                <!-- header-top-second end -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->
        
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ --> 
        <header class="header  fixed    clearfix">
          
          <div class="container">
            <div class="row">
              <div class="col-md-6 ">
                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="index.html"><img id="logo_img" src="images/koon_logo.png" alt="The Project" width="250px"></a>
                  </div>

                 
                  
                </div>
                <!-- header-left end -->

              </div>
              <div class="col-md-6">
          
                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                <!-- ================ -->
                <div class="main-navigation  animated with-dropdown-buttons">

                  <!-- navbar start -->
                  <!-- ================ -->
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                      <!-- Toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <!-- main-menu -->
                        <ul class="nav navbar-nav ">

                          <!-- mega-menu start -->
                          <li class="">
                            <a href="/">Accueil</a>
                          </li>
                          <!-- mega-menu end -->
                          <!-- mega-menu start -->
                          <li class="dropdown  mega-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                            <ul class="dropdown-menu">
                              <li>
                                <div class="row">
                                  <div class="col-lg-8 col-md-9">
                                    <h4 class="title">Services</h4>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <div class="divider"></div>
                                        <ul class="menu">
                                          <li ><a href="/batiment_travaux/"><i class="fa fa-angle-right"></i>Batiment & Travaux Publics</a></li>
                                          <li ><a href="/electricite/"><i class="fa fa-angle-right"></i>Electricite</a></li>
                                          <li ><a href="/ouvrage_metalliques/"><i class="fa fa-angle-right"></i>Ouvrages Metalliques</a></li>
                                          <li ><a href="/froid_climatisation/"><i class="fa fa-angle-right"></i>Froid & Climatisation</a></li>
                                         
                                        </ul>
                                      </div>
                                      <div class="col-sm-6">
                                        <div class="divider"></div>
                                        <ul class="menu">
                                          <li ><a href="/mecanique/"><i class="fa fa-angle-right"></i>Mecanique</a></li>
                                          <li ><a href="/informatique_infographie/"><i class="fa fa-angle-right"></i>Informatique & Infographie</a></li>
                                          <li ><a href="/formation/"><i class="fa fa-angle-right"></i>Formation</a></li>
                                          
                                        </ul>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-lg-4 col-md-3 hidden-sm">
                                    <h4 class="title">Le groupe KOON</h4>
                                    <p class="mb-10">Une firme d'ingenierie qui repond a tous vos besoins.</p>
                                    <img src="{{site.image}}" alt="koon">
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          
                           <!-- mega-menu start -->
                          <li class="">
                            <a href="/about">A propos de nous</a>
                          </li>
                        </ul>
                        <!-- main-menu end -->
                        
                        <!-- header buttons -->
                        <div class="header-dropdown-buttons">
                          <a href="/contact" class="btn btn-sm hidden-xs btn-default">Nous joindre <i class="fa fa-envelope-o pl-5"></i></a>
                         
                        </div>
                        <!-- header buttons end-->
                        
                      </div>

                    </div>
                  </nav>
                  <!-- navbar end -->

                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-right end -->
          
              </div>
            </div>
          </div>
          
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->