<header class="vk-header ">
        <nav class="vk-navbar  navbar">
            <div class="container">
                <div class="vk-navbar-header navbar-header">
                    <button type="button" class="navbar-toggle vk-navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                        <i class="toggle-icon"></i>
                    </button>
                    <!--./vk-navbar-toggle-->

                   
                    <!--./shopping-cart-->

                    <a class="vk-navbar-brand navbar-brand" href="/">
                        <img src="{{ site.logoo}}">
                        <span class="logo-text text-uppercase">LAVE AUTO <span style="font-size: 25.5px" >SUNSHINE</span></span>
                    </a>
                    <!--./vk-navbar-brand-->

                    

                </div>
                <!--./vk-navbar-header-->

                <div class="collapse navbar-collapse vk-navbar-collapse" id="menu">
                    <ul class="vk-navbar-nav navbar-right">

                        <li>
                            <a href="/">Accueil</a>                            
                        </li>                       

                        <li>
                            <a href="#">services</a>
                            <ul class="vk-navbar-nav child">
                            	{% for service in site.services %}
                                          <li ><a href="{{ service.url }}"><i class="fa fa-angle-right"></i>{{ service.title }}</a></li>
                                {% endfor %}
                              

                            </ul>
                        </li>                        
                       

                        <li>
                            <a href="/about">Presentation</a>
                           
                        </li>
                        <li>
                            <a href="/tarifs">Tarifs</a>
                           
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                           
                        </li>

                        

                        <a href='/reservation' class="vk-btn vk-btn-icon vk-btn-l vk-border-bottom vk-btn-default text-uppercase">
                            <span class="title">reservez</span>
                            <span class="icon">
                                <i class="fa fa-check"></i>
                            </span>
                        </a>
                        

                       
                    </ul>
                    <!--./vk-navbar-nav-->

                   
                    <!--./box-search-header-->

                </div>
                <!--./vk-navbar-collapse-->

            </div>
            <!--./container-->

        </nav>
        <!--./vk-navbar-->

        <div class="vk-header-top hidden-xs hidden-sm">
            <div class="container">
                <div class="content">
                    
                    <ul class="quick-address">
                        <li><i class="fa fa-map-marker pr-5 pl-10"></i> {{ site.adresse }}</li>
                    	<li><i class="fa fa-phone pr-5 pl-10"></i> {{site.tel}}</li>
                    	<li><i class="fa fa-envelope-o pr-5 pl-10"></i> {{site.email}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--./vk-header-top-->
    </header>