 <div class="vk-join-our-team-section vk-background-fixed vk-section-style-4 vk-space large" style="background-image: url({{ site.image}});position: relative;">
                <div class="vk-background-overlay vk-background-black-1 _80"></div>

                <div class="container">
                    <div class="content-section text-uppercase">
                        <h2 class="vk-heading vk-heading-border vk-heading-border-right">
                <span>
                    <span class="vk-text-color-yellow-1">Contactez</span> -nous

                        </h2>
                        <p>Besoin de plus d'information ?</p>

                        <div class="vk-buttons">
                            <a href="/contact" class="vk-btn vk-btn-icon vk-btn-default">
                                <span class="title">contact</span>
                                <span class="icon">
                        <i class="fa fa-long-arrow-right"></i>
                    </span>
                            </a>
                        </div>
                        <!--./vk-buttons-->
                    </div>
                    <!--./content-section-->
                </div>
                <!-- /.container -->
            </div>