<!-- section start -->
			<!-- ================ -->
		
			<!-- section end -->
			<div class="vk-what-we-do-section vk-section vk-section-style-2 vk-section-style-3">
                <div class="container">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                      <span>
                          Lave Auto <span class="vk-text-color-yellow-1">sunshine</span>
                      </span>
                    </h2>
                    
                    <nav class="box-filter text-center clearfix">

                        <ul class="vk-filter vk-filter-button-fix hidden-xs hidden-sm">
                        	<li class="data-filter" data-filter=".first">Message de l'equipe</li>
                        	
                            <li class="data-filter" data-filter=".objectifs">Nos Objectifs</li>
                            
                        </ul>
                        <!--./vk-filter-->

                        <select class="vk-filter vk-filter-button-fix form-control hidden-md hidden-lg" id="dropdown-filter">
                        <option class="data-filter" data-filter=".first">Message de l'equipe</option>
                        	
                            <option class="data-filter" value=".objectifs">Nos Objectifs</option>                           
                            
                        </select>
                        <!--./vk-filter-->
                    </nav>

                    <div class="row vk-filter-fix">
                    	<div class="item first">
                            <div class="col-md-6 left">

                                <div class="vk-img-frame">
                                    <img src="images/services/image-7.jpg" alt="" width="570px" height="500px" />
                                </div>
                            </div>
                            <!--./left-->

                            <div class="col-md-6 right">
                                <div class="content">
                                    <h4 class="text-uppercase vk-title">Message de l'equipe</h4>
                                    <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk.Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean.It’s on you how you want to live your life. Everyone hasn </p>
                                </div>
                                <div class="vk-buttons">
                                    
                                    <a href="/about" class="vk-btn vk-btn-transparent text-uppercase">En savoir plus
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <!--./vk-buttons-->

                
                                <!--./vk-work-step-mini-->
                            </div>
                            <!--./right-->
                        </div>
                        
                        <div class="item objectifs">
                            <div class="col-md-6 left">

                                <div class="vk-img-frame">
                                    <img src="images/services/image-7.jpg" alt=""  width="570px" height="500px" />
                                </div>
                            </div>
                            <!--./left-->

                            <div class="col-md-6 right">
                                <div class="content">
                                    <h4 class="text-uppercase vk-title">Nos objectifs</h4>
                                    <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk.Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean.It’s on you how you want to live your life. Everyone hasn</p>
                                </div>
                                <div class="vk-buttons">
                                    
                                    <a href="/tarifs" class="vk-btn vk-btn-transparent text-uppercase">consultez nos differents prix
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <!--./vk-buttons-->

                                
                                <!--./vk-buttons-->

                            </div>
                            <!--./right-->
                        </div>                       
                        
                    </div>
                    <!--./row-->
                    
                </div>
                <!--./container-->
            </div>
            <!--./vk-what-we-do-section-->
