<!-- section start -->
			<!-- ================ -->
		
			<!-- section end -->
			<div class="vk-what-we-do-section vk-section vk-section-style-2 vk-section-style-3">
                <div class="container">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                      <span>
                          <span class="vk-text-color-yellow-1">nos</span> services
                      </span>
                    </h2>
                    
                    <nav class="box-filter text-center clearfix">

                        <ul class="vk-filter vk-filter-button-fix hidden-xs hidden-sm">
                        	<li class="data-filter" data-filter=".first">lavage</li>
                        	{% for service in site.services %}
                            <li class="data-filter" data-filter=".{{ service.title}}">{{ service.title}}</li>
                            {% endfor %}
                        </ul>
                        <!--./vk-filter-->

                        <select class="vk-filter vk-filter-button-fix form-control hidden-md hidden-lg" id="dropdown-filter">
                        <option class="data-filter" data-filter=".first">lavage</option>
                        	{% for service in site.services %}
                            <option class="data-filter" value=".{{ service.title}}">{{ service.title}}</option>                           
                            {% endfor %}
                        </select>
                        <!--./vk-filter-->
                    </nav>

                    <div class="row vk-filter-fix">
                    	<div class="item first">
                            <div class="col-md-6 left">

                                <div class="vk-img-frame">
                                    <img src="images/services/image-7.jpg" alt="" width="570px" height="500px" />
                                </div>
                            </div>
                            <!--./left-->

                            <div class="col-md-6 right">
                                <div class="content">
                                    <h4 class="text-uppercase vk-title">LAVAGE INTERIEUR/EXTERIEUR</h4>
                                    <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk. </p>
                                </div>
                                <div class="vk-buttons">
                                    
                                    <a href="4.2-project-grid.html" class="vk-btn vk-btn-transparent text-uppercase">consultez nos differents prix
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <!--./vk-buttons-->

                                <div class="vk-work-step-mini">
                                    <h4 class="vk-title text-uppercase">etapes de travail</h4>
                                    <ul class="vk-list vk-list-inline vk-list-step-mini">
                                        <li aria-level="1">first step</li>
                                        <li aria-level="2">second step</li>
                                        <li aria-level="3">third step</li>
                                    </ul>
                                </div>
                                <!--./vk-work-step-mini-->
                            </div>
                            <!--./right-->
                        </div>
                        {% for service in site.services %}
                        <div class="item {{ service.title}}">
                            <div class="col-md-6 left">

                                <div class="vk-img-frame">
                                    <img src="{{ service.image}}" alt=""  width="570px" height="500px" />
                                </div>
                            </div>
                            <!--./left-->

                            <div class="col-md-6 right">
                                <div class="content">
                                    <h4 class="text-uppercase vk-title">{{ service.title}}</h4>
                                    <p>{{ service.content}}</p>
                                </div>
                                <div class="vk-buttons">
                                    
                                    <a href="4.2-project-grid.html" class="vk-btn vk-btn-transparent text-uppercase">consultez nos differents prix
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <!--./vk-buttons-->

                                <div class="vk-work-step-mini">
                                    <h4 class="vk-title text-uppercase">etapes de travail</h4>
                                    <ul class="vk-list vk-list-inline vk-list-step-mini">
                                        <li aria-level="1">first step</li>
                                        <li aria-level="2">second step</li>
                                        <li aria-level="3">third step</li>
                                    </ul>
                                </div>
                                <!--./vk-buttons-->

                            </div>
                            <!--./right-->
                        </div>                       
                        {% endfor %}
                    </div>
                    <!--./row-->
                    
                </div>
                <!--./container-->
            </div>
            <!--./vk-what-we-do-section-->
