<!-- section start -->
			<!-- ================ -->
			<section class="section default-bg clearfix padding-ver-clear">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 padding-bottom-clear pv-30">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="fa fa-map-o"></i></span>
								<div class="body">
									<h4 class="title">Etude de projet</h4>
									<p>Nous établissons clairement les objectifs afin de determiner les ressources nécessaires à leur réalisation</p>
									<a class="link-dark" href="/about">Voir plus<i class="pl-5 fa fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 padding-bottom-clear pv-30 dark-translucent-bg">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
								<span class="icon without-bg"><i class="fa fa-home"></i></span>
								<div class="body">
									<h4 class="title">Mise en oeuvre</h4>
									<p>Mise en route du projet ou mandat selon le plan d’action établi dans la phase de Design / Conception.</p>
									<a class="link-dark" href="/about">Voir plus<i class="pl-5 fa fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-4 padding-bottom-clear pv-30">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="icon-check"></i></span>
								<div class="body">
									<h4 class="title">Livraison</h4>
									<p>Livraison dans les délais impartis. Réevaluation de la portée du projet et réiteration si necessaire.</p>
									<a class="link-dark" href="/about">Voir plus<i class="pl-5 fa fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

		<!-- section start -->
			<!-- ================ -->
			<section class="clearfix pv-40">
				<div class="container">
					<div class="row">

						<div class="col-md-8 col-md-offset-2 text-center">
							<h1 class="page-title text-center">Nos<strong> Realisations</strong></h1>
							<div class="separator"></div>
						</div>

						<div class="col-md-12">
							<!-- isotope filters start -->
							<div class="filters">
								<ul class="nav nav-pills">
									<li class="active"><a href="#" data-filter="*">All</a></li>
									<li><a href="#" data-filter=".froid_climatisation">froid & climatisation</a></li>
									
								</ul>
							</div>
							<!-- isotope filters end -->

							<div class="isotope-container row grid-space-10">
								{% for realisation in realisations %}
								<div class="col-md-3 col-sm-6 isotope-item {{ realisation.filtre }}">
									<div class="image-box shadow bordered text-center mb-20">
										<div class="overlay-container">
											<img src="{{ realisation.image }}" alt="">
											<div class="overlay-top">
												<div class="text">
													<h3>{{ realisation.title }}</h3>
												</div>
											</div>
											<div class="overlay-bottom">
												<p class="small">{{ realisation.services }}</p>
											</div>
										</div>
									</div>
								</div>
								{{% endfor %}}
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ --
			<section class="section clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h2>Nos <strong>Partenaires</strong></h2>
							<div class="separator"></div>
							
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="clients-container">
								<div class="clients">
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
										<a href="#"><img src="images/client-1.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
										<a href="#"><img src="images/client-2.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
										<a href="#"><img src="images/client-3.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
										<a href="#"><img src="images/client-4.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
										<a href="#"><img src="images/client-5.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
										<a href="#"><img src="images/client-6.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
										<a href="#"><img src="images/client-7.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
										<a href="#"><img src="images/client-8.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
										<a href="#"><img src="images/client-1.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
										<a href="#"><img src="images/client-2.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
										<a href="#"><img src="images/client-3.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
										<a href="#"><img src="images/client-4.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
										<a href="#"><img src="images/client-5.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
										<a href="#"><img src="images/client-6.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
										<a href="#"><img src="images/client-7.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
										<a href="#"><img src="images/client-8.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
										<a href="#"><img src="images/client-1.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
										<a href="#"><img src="images/client-2.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
										<a href="#"><img src="images/client-3.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
										<a href="#"><img src="images/client-4.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
										<a href="#"><img src="images/client-5.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
										<a href="#"><img src="images/client-6.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
										<a href="#"><img src="images/client-7.png" alt=""></a>
									</div>
									<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
										<a href="#"><img src="images/client-8.png" alt=""></a>
									</div>
								</div>
							</div>
							<div class="separator"></div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->