<!-- section start -->
			<!-- ================ -->
			<section class="light-gray-bg pv-40 border-clear">
				<div class="container">

					<!-- page-title start -->
					<!-- ================ -->
					<h1 class="page-title text-center">Our <strong>Services</strong></h1>
					<div class="separator"></div>
					<br>
					<!-- page-title end -->
					
					<div class="row">
					{% for service in site.services %}
						<div class="col-sm-4">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								<div class="overlay-container overlay-visible">
									<img src="{{ service.image}}" alt="">
									<a href="{{ service.url }}" class="overlay-link"><i class="fa fa-link"></i></a>
									<div class="overlay-bottom">
										<div class="text">
											<p class="lead margin-clear text-left mobile-visible">{{ service.title}}</p>
										</div>
									</div>
								</div>
								<div class="body padding-horizontal-clear">
									<p class="text-justify">{{ service.mini_desc }}</p>
									<a href="{{ service.url }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Voir plus<i class="fa fa-arrow-right pl-10"></i></a>	
								</div>
							</div>
						</div>
					{% endfor %}
					</div>

				</div>
			</section>
			<!-- section end -->
