<div class="vk-section vk-content-bot">
    <div class="container">
        <div class="row">
            <div class="col-md-12 left-content">
                <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                    <span>
                        <span class="vk-text-color-yellow-1">commentaires</span>
                        de nos clients
                    </span>
                </h2>

                <div class="row">
                    <div class="vk-testimonial-list vk-slider-arrow-top customer-slider">
                    {% for review in site.reviews %}
                        <div class="col-md-6 item">
                            <div class="vk-testimonial">
                                <div class="avatar">
                                    <div class="vk-img-frame">
                                        <a href="#" class="vk-img">
                                            <img src="{{ review.image }}" alt="">
                                        </a>
                                    </div>
                                    <div class="profile">
                                        <span class="name">{{ review.title }}</span>
                                        <span class="position">Note: {{ review.note }} / 5</span>
                                    </div>
                                </div>
                                <!--./avatar-->

                                <div class="content">
                                    <i class="fa fa-quote-left"></i>
                                    <p class="vk-text">{{ review.content }}</p>
                                </div>
                                <!-- ./content-->
                            </div>
                            <!--./testimonial-->
                        </div>
                    {% endfor %}
                    </div>
                    <!--./vk-testimonial-list-->
                </div>
                <!--./row-->
            </div>
            <!--./col-md-6-->

            
        </div>
        <!--./row-->
    </div>
    <!--./container-->
</div>
<!--./vk-content-bot-->