<div class="vk-counter-section vk-counter-section-style-1 vk-parallax"  style="background-image: url({{ site.image}});position: relative;">
                <div class="vk-background-overlay vk-background-black-1 _80"></div>
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6">

                            <div class="vk-counter vk-counter-dark vk-counter-inline first-child">
                                <i class="flaticon flaticon-ruler-and-pencil"></i>
                                <ul class="content">
                                    <li class="number-count" data-to="500">500</li>
                                    <li class="title text-uppercase">projects</li>
                                </ul>
                            </div>
                            <!--./vk-counter-->

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="vk-counter vk-counter-dark vk-counter-inline">
                                <i class="flaticon flaticon-worker-1"></i>
                                <ul class="content">
                                    <li class="number-count" data-to="500">500</li>
                                    <li class="title text-uppercase">projects</li>
                                </ul>
                            </div>
                            <!--./vk-counter-->

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="vk-counter vk-counter-dark vk-counter-inline">
                                <i class="flaticon flaticon-wrench"></i>
                                <ul class="content">
                                    <li class="number-count" data-to="500">500</li>
                                    <li class="title text-uppercase">projects</li>
                                </ul>
                            </div>
                            <!--./vk-counter-->

                        </div>

                        <div class="col-md-3 col-sm-6">

                            <div class="vk-counter vk-counter-dark vk-counter-inline">
                                <i class="flaticon flaticon-bricks"></i>
                                <ul class="content">
                                    <li class="number-count" data-to="500">500</li>
                                    <li class="title text-uppercase">projects</li>
                                </ul>
                            </div>
                            <!--./vk-counter-->

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!--./vk-counter-section-->
             <!-- /.vk-image-slider-element -->
            <div class="vk-image-slider-style-1 list-item">
                <div class="container">
                    <div class="text-center vk-space medium">
                        <h2 class="vk-heading vk-heading-line vk-heading-line-center" style="padding:0px; margin:0px;">
                             <span>
                                <span class="vk-text-color-yellow-1">NOTRE</span>
                                EQUIPE
                            </span>
                        </h2>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="row">
                                    <div class="vk-slider vk-slick-slider vk-slider-center" data-slick='{"slidesToShow": 3, "centerMode": true}'>
                                        <div class="item col-md-3">
                                            <div class="vk-img-frame">
                                                <a href="/images/slider/slider_person_1_300.jpg" class="vk-img" data-lightbox="image-slide-0">
                                                    <img src="/images/slider/slider_person_1_300.jpg" alt="">
                                                </a>
                                            </div>
                                            <ul class="content">
                                                <li class="title">John Stone</li>
                                                <li class="position">Team leader</li>
                                            </ul>
                                        </div>

                                        <div class="item col-md-3">
                                            <div class="vk-img-frame">
                                                <a href="/images/slider/slider_person_2_300.jpg" class="vk-img" data-lightbox="image-slide-1">
                                                    <img src="/images/slider/slider_person_2_300.jpg" alt="">
                                                </a>
                                            </div>
                                            <ul class="content">
                                                <li class="title">Terry</li>
                                                <li class="position">Designer</li>
                                            </ul>
                                        </div>

                                        <div class="item col-md-3">
                                            <div class="vk-img-frame">
                                                <a href="/images/slider/slider_person_3_300.jpg" class="vk-img" data-lightbox="image-slide-2">
                                                    <img src="/images/slider/slider_person_3_300.jpg" alt="">
                                                </a>
                                            </div>
                                            <ul class="content">
                                                <li class="title">John Smith</li>
                                                <li class="position">Developer</li>
                                            </ul>
                                        </div>

                                        <div class="item col-md-3">
                                            <div class="vk-img-frame">
                                                <a href="/images/slider/slider_person_3_300.jpg" class="vk-img" data-lightbox="image-slide-3">
                                                    <img src="/images/slider/slider_person_3_300.jpg" alt="">
                                                </a>
                                            </div>
                                            <ul class="content">
                                                <li class="title">John Smith</li>
                                                <li class="position">Developer</li>
                                            </ul>
                                        </div>

                                    </div>
                                    <!--./vk-slider-->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-md-10 col-md-offset-1 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.vk-image-slider-style-1 -->
            <!-- /.vk-our-project-section -->