		<div class="vk-banner" style="background-image: url({{ site.image}}); min-height: 100px; height:200px;">
            <div class="vk-background-overlay vk-background-black-1 _80"></div>
            <div class="container wrapper">
                <div class="page-heading">
                    A PROPOS DE NOUS
                </div>
            </div>
        </div>
        <!--./vk-banner-->


        <div class="vk-breadcrumb">
            <nav class="container">
                <ul>

                    <li><a href="/">accueil</a></li>

                    <li><a href="#">page</a></li>

                    <li class="active">a propos</li>
                </ul>
            </nav>
        </div>
        <!--./vk-breadcrumb-->
        <div class="vk-page vk-page-about">

            <div class="vk-who-we-are vk-section vk-section-style-1">
                <div class="container">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-left">
            <span>
                <span class="vk-text-color-yellow-1">Qui</span> sommes-nous
            </span>
                    </h2>
                    <div class="row">
                        <div class="col-md-6 left-content">
                            <div class="vk-img-frame">
                                <img src="{{ site.image }}" alt=""/>
                            </div>
                        </div>
                        <!--./left-->

                        <div class="col-md-6 right-content">
                            <div class="content">
                                
                                <p>{{ site.description }}</p>
                            </div>
                            <!--
                            <div class="vk-buttons">
                                <a href='#' class="vk-btn vk-btn-default vk-btn-icon text-uppercase">
                                    <span class="title"><i class="fa fa-file-pdf-o"></i> telechargez notre brochure</span>
                                    <span class="icon"><i class="fa fa-download"></i></span>
                                </a>
                            </div>-->
                        </div>
                        <!--./right-->
                    </div>
                    <!--./row-->
                </div>
                <!--./container-->
            </div>
            <!--./vk-who-we-are-->