<ul>
    <li dir="ltr">
        <br/>
    </li>
</ul>
<div dir="ltr">
    <table>
        <colgroup>
            <col width="80"/>
            <col width="217"/>
            <col width="79"/>
            <col width="79"/>
            <col width="193"/>
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <br/>
                </td>
                <td colspan="4">
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
                <td rowspan="2">
                    <p dir="ltr">
                        Services
                    </p>
                </td>
                <td colspan="3">
                    <p dir="ltr">
                        Prix
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
                <td>
                    <p dir="ltr">
                        Berline
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        VAN/VUS
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        Pick-Up/Camion
                    </p>
                </td>
            </tr>
            <tr>
                <td rowspan="6">
                    <p dir="ltr">
                        Intérieur
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        Simple
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 15,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 18,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 20,00
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Shampoing
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 89,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 94,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 99,99
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Protecteur vinyle
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 7,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 7,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 7,00
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Crème protectrice
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 10,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 10,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 10,00
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Shampoing tapis intérieur
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 49,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 54,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 59,99
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Shampoing tapis d'été ( par tapis)
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 5,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 5,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 5,00
                    </p>
                </td>
            </tr>
            <tr>
                <td rowspan="5">
                    <p dir="ltr">
                        Extérieur
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        Simple
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 10,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 12,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 20,00
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Compound
                    </p>
                </td>
                <td>
                    <br/>
                </td>
                <td>
                    <br/>
                </td>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Cire Rapide
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 10,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 12,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 12,00
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Cirage (Polissage)
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 49,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 54,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 59,99
                    </p>
                    <br/>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Décontamination + Polissage
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 89,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 94,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 99,99
                    </p>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <p dir="ltr">
                        Vitres
                    </p>
                </td>
                <td>
                    <br/>
                </td>
                <td>
                    <br/>
                </td>
                <td>
                    <br/>
                </td>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Rain-X
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 9,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 9,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 9,99
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Aquapel
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 24,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 24,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 24,99
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Lumières
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        Polissage
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 39,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 39,99
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 39,99
                    </p>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <p dir="ltr">
                        Pneus
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        Simple
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 5,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 5,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 5,00
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Armor-All
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 4,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 4,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 4,00
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Moteur
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        Shampoing
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 35,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 35,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 35,00
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p dir="ltr">
                        Valise
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        Balayeuse
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 3,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 3,00
                    </p>
                </td>
                <td>
                    <p dir="ltr">
                        $ 3,00
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>