<section class="vk-content">

        <div class="vk-banner"  style="background-image: url({{ page.image}});position: relative;  min-height: 100px; height:200px;">
            <div class="vk-background-overlay vk-background-black-1 _80"></div>
            <div class="container wrapper">
                <div class="page-heading">
                    {{ page.title }}
                </div>
            </div>
        </div>
        <!--./vk-banner-->


        <div class="vk-breadcrumb">
            <nav class="container">
                <ul>

                    <li><a href="index.html">home</a></li>

                    <li><a href="#">Service</a></li>

                    <li class="active">{{ page.title }}</li>
                </ul>
            </nav>
        </div>
        <!--./vk-breadcrumb-->
        <div class="vk-page vk-page-service vk-page-consultant-service">

            <div class="vk-consultant vk-section vk-section-style-2">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 left-content">
                            <div class="vk-img-frame">
                                <img src="{{ page.image }}" alt=""  width="570px" height="500px" />
                            </div>
                        </div>
                        <!--./left-->

                        <div class="col-md-6 right-content">
                            <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                    <span>
                     {{ page.title }}
                    </span>
                            </h2>
                            <div class="content">
                                <p>{{ page.content }}</p>
                            </div>
                            
                        </div>
                        <!--./right-->
                    </div>
                    <!--./row-->
                </div>
                <!--./container-->
            </div>
            <!--./vk-consultant-->

            
        </div>
        <!--./vk-page-->

    </section>
    <!--./content-->