<section class="vk-content">
        <div class="vk-banner" style="background-image: url({{ site.image}}); min-height: 100px; height:200px;" >
            <div class="vk-background-overlay vk-background-black-1 _80"></div>
            <div class="container wrapper">
                <div class="page-heading">
                    Nos tarifs
                </div>
            </div>
        </div>
        <!--./vk-banner-->

        <div class="vk-breadcrumb">
            <nav class="container">
                <ul>
                    <li><a href="/">home</a></li>

                    <li><a href="#">page</a></li>

                    <li class="active">Tarifs</li>
                </ul>
            </nav>
        </div>
        <!--./vk-breadcrumb-->    
        <div class="vk-page vk-page-contact">
            <div class="container">
            <br>
            <div class="table-responsive">
                <table class="table table-bordered tarifs">
                    
                    <tbody>
                        
                        <tr>
                            <th rowspan="2" style="border-left: 1px solid transparent; border-top: 1px solid transparent;">
                                &nbsp;
                            </th>
                            <th rowspan="2">
                                <p>
                                    Services
                                </p>
                            </th>
                            <th colspan="3">
                                <p>
                                    Prix
                                </p>
                            </th>
                        </tr>
                        <tr>
                            
                            <th>
                                <p>
                                    Berline
                                </p>
                            </th>
                            <th>
                                <p>
                                    VAN/VUS
                                </p>
                            </th>
                            <th>
                                <p>
                                    Pick-Up/Camion
                                </p>
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="6">
                                <p>
                                    Intérieur
                                </p>
                            </th>
                            <td>
                                <p>
                                    Simple
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 15,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 18,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 20,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Shampoing
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 89,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 94,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 99,99
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Protecteur vinyle
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 7,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 7,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 7,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Crème protectrice
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 10,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 10,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 10,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Shampoing tapis intérieur
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 49,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 54,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 59,99
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Shampoing tapis d'été ( par tapis)
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 5,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 5,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 5,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="5">
                                <p>
                                    Extérieur
                                </p>
                            </th>
                            <td>
                                <p>
                                    Simple
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 10,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 12,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 20,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Compound
                                </p>
                            </td>
                            <td>
                                <br/>
                            </td>
                            <td>
                                <br/>
                            </td>
                            <td>
                                <br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Cire Rapide
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 10,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 12,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 12,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Cirage (Polissage)
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 49,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 54,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 59,99
                                </p>
                                <br/>
                                <br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Décontamination + Polissage
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 89,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 94,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 99,99
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="3">
                                <p>
                                    Vitres
                                </p>
                            </th>
                            <td>
                                <br/>
                            </td>
                            <td>
                                <br/>
                            </td>
                            <td>
                                <br/>
                            </td>
                            <td>
                                <br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Rain-X
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 9,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 9,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 9,99
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Aquapel
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 24,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 24,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 24,99
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>
                                    Lumières
                                </p>
                            </th>
                            <td>
                                <p>
                                    Polissage
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 39,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 39,99
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 39,99
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="2">
                                <p>
                                    Pneus
                                </p>
                            </th>
                            <td>
                                <p>
                                    Simple
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 5,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 5,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 5,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Armor-All
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 4,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 4,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 4,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>
                                    Moteur
                                </p>
                            </th>
                            <td>
                                <p>
                                    Shampoing
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 35,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 35,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 35,00
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>
                                    Valise
                                </p>
                            </th>
                            <td>
                                <p>
                                    Balayeuse
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 3,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 3,00
                                </p>
                            </td>
                            <td>
                                <p>
                                    $ 3,00
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered tarifs">
                    <tbody>
                        <tr>
                            <th>
                                <p>Remise a Neuf </p>
                            </th>
                            <td>
                                <p>Auto : 150$</p>
                            </td>
                            <td>
                                <p> SUV 175$</p>
                            </td>
                            <td>
                                <p>Camion : 200$</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Moto - Scooter </p>
                            </th>
                            <td>
                                <p>Normal : 10$</p>
                            </td>
                            <td>
                                <p>Roues : 2$</p>
                            </td>
                            <td>
                                <p>Complet : 12$</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <p>Tapis </p>
                            </th>
                            <td colspan="3">
                                <p>Prix variable en fonction du tapis</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>

       

</section>