<!-- banner start -->
			<!-- ================ -->
			<div class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner-fullwidth">
							<ul class="slides">
								<!-- slide 1 start -->
								<!-- ================ -->
								<li data-transition="fadefromright" data-slotamount="4" data-masterspeed="500" data-saveperformance="on" data-title="Next Generation Template">
								
								<!-- main image -->
								<img src="images/construction-slider-slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
								
								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
									style="background-color: rgba(0, 0, 0, 0.7);"
									data-x="left"
									data-y="center" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600">
									<h2 class="title">We Can Build Anything</h2>
									<div class="separator-2 clearfix"></div>
									<p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
									<div class="text-right"><a class="btn btn-small btn-gray-transparent margin-clear" href="page-services.html">Read More</a></div>
								</div>

								</li>
								<!-- slide 1 end -->

								<!-- slide 2 start -->
								<!-- ================ -->
								<li data-transition="fadefromright" data-slotamount="4" data-masterspeed="500" data-saveperformance="on" data-title="Premium Bootstrap Template">
								
								<!-- main image -->
								<img src="images/construction-slider-slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
									style="background-color: rgba(0, 0, 0, 0.7);"
									data-x="left"
									data-y="center" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600">
									<h2 class="title">Make your Dreams Come True</h2>
									<div class="separator-2 clearfix"></div>
									<p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
									<div class="text-right"><a class="btn btn-small btn-gray-transparent margin-clear" href="page-services.html">Read More</a></div>
								</div>

								</li>
								<!-- slide 2 end -->
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->