<!-- banner start -->
			<!-- ================ -->
			<div class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner-fullwidth">
							<ul class="slides">
								<!-- slide 1 start -->
								<!-- ================ -->
								{% for slider in site.sliders %}
								<li data-transition="fadefromright" data-slotamount="4" data-masterspeed="500" data-saveperformance="on" data-title="Koon Groupe">
								
								<!-- main image -->
								<img src="{{ slider.image}}" alt="slidebg1" data-bgposition="50% 60%"  data-bgrepeat="no-repeat" data-bgfit="cover">
								
								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout dark-translucent-bg caption-box text-left"
									style="background-color: rgba(0, 0, 0, 0.7);"
									data-x="left"
									data-y="center" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600">
									<h2 class="title">{{ slider.title}}</h2>
									<div class="separator-2 clearfix"></div>
									<p>{{ slider.content}}</p>
									<div class="text-right"><a class="btn btn-small btn-gray-transparent margin-clear" href="/about">Voir plus</a></div>
								</div>

								</li>
								<!-- slide 1 end -->
								{% endfor %}

								
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->