<div class="vk-baner-slider vk-slider-arrow-image" style="height: 500px;">
    {% for slider in site.sliders %}
    <div class="vk-banner  vk-banner-mod " style="background-image: url({{ slider.image}});position: relative; height: 500px;">
        
        <div class="vk-background-overlay vk-background-black _70"></div>
        <div class="container wrapper">
            <div class="page-heading">
        <span class="vk-text title-main">
        
         <span data-animation="fadeIn" data-delay="1s">{{ slider.title}}</span>
        </span>

                <span class="vk-text title-sub" data-animation="fadeInUp" data-delay="1.3s"><span class="vk-text-color-yellow-1">{{ slider.content }}</span></span>
            </div>
        </div>
    </div>
    <!--./vk-banner-->
    {% endfor %}
</div>
<!-- ./vk-banner-slider-->