<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body>
<div class="main-wrapper">

    {% include header1.html %}
    <!--./vk-header-->
    <!--./vk-header-->

    <section class="vk-content">
        <div class="vk-home vk-home-slider">
            
            {% include slider1.html %}
            
            


            {% include home_services.html %}
            
            

            {% include home_contact.html %}


            {% include home_ourteam.html %}
            <!--./vk-join-our-team-->
            
            
        </div>
        <!--./home-->

    </section>
    <!--./content-->

    {% include footer.html %}
</body>
</html>